// フォント指定
$font_ja:'Noto Serif JP',sans-serif;
$font_en:'Patua One',sans-serif;
$font_title:'Amatic SC',sans-serif;
$font_number:'Damion',sans-serif;
// フォントカラー
$font_default_color: #222222;
$font_sub_color: #FFF;

// 背景色
$bg_default: #f3efeb;
$bg_accent: #eae0d5;
$bg_white: #fff;

// インナー幅
$width__inner__pc: 1180px;
$width__inner__tab: 777px;
$width__inner__sp: 335px;